/* p{
   color: blue; 
   background-color: red;
   text-align: center;
} */

.p{
    color: green;
    background-color: aqua;
}

#jk{
    font-size: 25px;
}   
div{
/* display: inline-block; */
    height: 100px;
    width: 100px;
    background-color: red;
    padding: 20px;
    border: 1px solid black;
    margin: 50px;
}